<%#login page %>

<body>
<div class="login_wrapper">
 <div class="notice"><%= flash[:notice] %></div>
 <div class="login">
   <%= form_tag(do_login_url, method: "post") do %>
    <div class="left">
    Username:</div>
    <div class="right"> <%= text_field_tag(:username) %></div>
  
    <div class="left">
    Password:</div>
    <div class="right"> <%= password_field_tag(:password) %>
    </div>
  
    <%= submit_tag "Log In", :class => 'btn-login' %>
   <% end %>
   or</br>
 <%= link_to "Sign Up!", new_user_url, :class => "sign_up" %>
</div>
  <div class="footer">This app was created by Carl Johnson, Kennan Ebanks,
  and Xiaotian Li.</br>
  Created for TC359: Ruby on Rails Web Development at Michigan State University.
  </div>
</div>
</body>
