<%if ( not @user.nil? ) and (@user.id == @user1.id)%>
  <h2> Edit <%= @user.real_name %> </h2>

  <%= form_for @user do |f| %>
    <%= f.label :real_name, "Name" %> <%= f.text_field :real_name %> <br />
    <%= f.label :age, "Age" %> <%= f.text_field :age %> <br />
    <%= f.label :gender, "Gender" %> <%= f.text_field :gender %> <br />
    <%= f.label :major, "Major" %> <%= f.text_field :major %> <br />
    <%= f.label :bio, "About me" %> <%= f.text_field :bio %> <br />
    <%= f.label :picture, "Photo" %> <%= f.file_field :picture %> 
    <% if @user.picture.exists? %>
      <%= image_tag @user.picture.url %>
    <% end %> 
    <br />
    <%= f.submit %>
  <% end %>

<%else%>

<%#=if you are here, you are trying to edit someone else. redirect them. %>
  <script type="text/javascript">
    window.location.href="/users/"+<%=@user1.id%>+"/edit" 
  </script>
<%end%>
