<h1><%= @user.real_name %></h1>
<ul>
  <li><%= @user.gender %></li>
  <li><%= @user.age %> years old.</li>
  <li>Major: <%= @user.major %></li>
  <li>About me: <%= @user.bio %></li>

</ul>
<%= link_to "Edit", edit_user_url(@user)%>
<%= link_to "Log Out", logout_url %>
