<h1><%= @user.real_name %></h1>
<ul>
  <li><%= @user.gender %></li>
  <li><%= @user.age %> years old.</li>
  <li>Major: <%= @user.major %></li>
  <li>About me: <%= @user.bio %></li>
</ul>

<%= debug @invites %>
<%@invites.each do |invite| %>
  
  <%if invite.sender_id == @user.id%>
     <%#= debug invite %>
  <%end%>
<%end%>
<%#if this is the current logged in user's profile, they can edit%>

<% if @user.id == session[:user_id] %>

  <%= link_to "Edit Profile", edit_user_url(@user)%>

  <%#take or edit quiz%> 
  <% if @user.quiz.nil?%>    <%= link_to "Take Quiz", new_quiz_url %>
  <%else%>
    <%= link_to "Edit Quiz", edit_quiz_url(@user.id) %>
  <%end%>
  <br/>
  <%= render "registrations/form" %>
  Don't see your course? <%= link_to "Add it", new_course_url%>.
  <br/>
  
  <%= link_to "Create a Groop", new_grooping_url%>
 
<%end%>


<h3> Courses </h3>
<ul>
<% @user.courses.each do |course| %>
  <li> <%= link_to "#{course.courseNum} #{course.courseName}", course_url(course) %> </li>
<% end %>
</ul>
<h3>Groops</h3>
  <ul>
  <% @user.groopings.each do |groop| %>
  <li> <%= link_to "#{groop.groop_name}", grooping_url(groop) %> </li>
<% end %>
</ul>

