<h1><%= @user.real_name %></h1>
<ul>
  <li><%= @user.gender %></li>
  <li><%= @user.age %> years old.</li>
  <li>Major: <%= @user.major %></li>
  <li>About me: <%= @user.bio %></li>
</ul>

<%#if this is the current logged in user's profile, they can edit%>

<%= debug @user %>

<% if @user.id == session[:user_id] %>
  <%#edit profile or logout%>
  <%= link_to "Edit", edit_user_url(@user)%>
  <%= link_to "Log Out", logout_url %>
  <% if @user.quiz.nil?%>
    <%= link_to "Take Quiz", new_quiz_url %>
  <%else%>
    <%= link_to "Edit Quiz", edit_quiz_url(@user.id) %>
  <%end%>
<%end%>
