<h1><%= @user.real_name %></h1>
<ul>
  <li><%= @user.gender %></li>
  <li><%= @user.age %> years old.</li>
  <li>Major: <%= @user.major %></li>
  <li>About me: <%= @user.bio %></li>
</ul>

<h3> Courses </h3>
<ul>
<% @user.courses.each do |course| %>
  <li> <%= link_to "#{course.courseNum} #{course.courseName}", course_url(course) %> </li>
<% end %>
</ul>
<%#if this is the current logged in user's profile, they can edit%>

<% if @user.id == session[:user_id] %>

  <%= render "registrations/form" %>
  Don't see your course? <%= link_to "Add it", courses_url%>.

  <%scores = Hash.new%>

  <%#=loop through each user in the db and compare the logged-in user's score%>
  <%#=to it. for the compatiiblity percentage, start out at 100% and every %>
  <%#=time the answers aren't the same, subtract 5 from the total percentage %>

  <% for user in @users %>

    <%#=unless the current user in loop hasn't filled out a quiz%>
    <% unless user.quiz.nil?%>

      <%#=intial score is 100 %>
      <% compatScore = 100 %>
      
      <%#=if the user isn't yourself%>
      <% if user.id != @user.id %>

	<%#=COMPARE QUIZ SCORES%>
        <% if @user.quiz.one!=user.quiz.one %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.two!=user.quiz.two %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.three!=user.quiz.three %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.three!=user.quiz.three %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.four!=user.quiz.four %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.five!=user.quiz.five %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.six!=user.quiz.six %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.seven!=user.quiz.eight %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <% if @user.quiz.eight!=user.quiz.seven %>
          <% compatScore = compatScore - 5 %>
        <%end%>
        <br/>


        <%#=add the key,value (id,compatScore) to the scores hash table%>
        <%scores[user.id] = compatScore%>
      <%end%>
    <%end%>
 
  <%end%>

  <%#=print the matches in descending order, each linking the user %>
  <p>Your best matches</p>

  <%sortedScores = scores.sort_by{|k,v| v}.reverse%>
  <ul>

  <%sortedScores.each do |k,v| %>

    <%newUser = @users.find(k)%>
    <li><%=link_to newUser.real_name, newUser %>  <%=v%>% Compatible</li>
    <br/>
  <%end%>

  </ul>
  <br/>


  <%#edit profile or logout%>
  <%= link_to "Edit", edit_user_url(@user)%>
  <%= link_to "Log Out", logout_url %>
  <% if @user.quiz.nil?%>
    <%= link_to "Take Quiz", new_quiz_url %>
  <%else%>
    <%= link_to "Edit Quiz", edit_quiz_url(@user.id) %>
  <%end%>
<%end%>
