<div class="profilebody">
<h1><%= @user.real_name %></h1>
<ul>
  <li><%= @user.gender %></li>
  <li><%= @user.age %> years old.</li>
  <li>Major: <%= @user.major %></li>
  <li>About me: <%= @user.bio %></li>
  <%unless @user.picture.nil? %>
  <li> <%= image_tag @user.picture.url(:medium) %> </li>
  <%end%>
</ul>

<%#if this is the current logged in user's profile, they can edit%>

<% if @user.id == session[:user_id] %>

  <%#=logged in users current invites %>
  <ul>
  <%@invites.each do |invite| %>
    
    <%#=if the user hasn't already accepted/denied the invite, ask them if they want to accept/deny %> 
    <% if invite.is_accepted.nil? %>
      <%if invite.recipient_id == @user.id%>
        <%#=pull the sender user object from list of users, as well as groop object from list of groops %>
        <%@sender = @users.find(invite.sender_id) %>
        <%@groop = @groops.find(invite.groop_id) %>
	<%#=invite%>
        <li>You've been invited to <%= link_to @groop.groop_name, @groop%> by <%= link_to @sender.real_name, @sender %></li>
        <%= form_for(invite) do |f| %>
          <%= f.radio_button(:is_accepted, 1) %>
          <%= f.label(:one_1, "Accept")%>
          <%= f.radio_button(:is_accepted, 0) %>
          <%= f.label(:one_1, "Deny")%>
          <%= f.submit "Answer Invite" %>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
  </ul>

  <%= link_to "Edit Profile", edit_user_url(@user)%>

  <%#take or edit quiz%> 
  <% if @user.quiz.nil?%>    <%= link_to "Take Quiz", new_quiz_url %>
  <%else%>
    <%= link_to "Edit Quiz", edit_quiz_url(@user.id) %>
  <%end%>
  <br/>
  <%= render "registrations/form" %>
  Don't see your course? <%= link_to "Add it", new_course_url%>.
  <br/>

  <h3>Groops</h3>
  <ul>
    <% @user.groopings.uniq.each do |groop| %>
      <li> <%= link_to "#{groop.groop_name}", grooping_url(groop) %> </li>
    <% end %>
  </ul>

  <%= link_to "Create a Groop", new_grooping_url%>
<%end%>


<h3> Courses </h3>
<ul>
<% @user.courses.each do |course| %>
  <li> <%= link_to "#{course.courseNum} #{course.courseName}", course_url(course) %> </li>
<% end %>
</ul>

</div>
