<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<head>
  <title>Groop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="logout">
<%= link_to "Profile", @user1 %> 
<%= link_to "Log out", logout_url %>
</div>
<div class="wrapper">
<h1 id="mainHeader" ><img src="../../../img/grooplogo.png" alt="Groop Logo" height ="100" width="320"> <%#= link_to "Profile", @user1 %>
</div>
<div class ="mainBody">
<%= yield %>
</div>
</body>
</html>
